<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input Nama</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <img
        src="{{ url_for('static', filename='hehe.png') }}"
        alt="Kerang Ajaib"
      />
      <h1>Input Nama</h1>
      <form action="{{ url_for('input_nama') }}" method="post">
        <label for="nama">Nama:</label>
        <input type="text" name="nama" required />
        <button type="submit">Submit</button>
      </form>

      {% if pesan_selamat_datang %}
      <h3>{{ pesan_selamat_datang }}</h3>
      <form action="{{ url_for('puja_kerang_ajaib') }}" method="get">
        <input type="hidden" name="nama" value="{{ nama }}" />
        <button type="submit">Puja Kerang Ajaib</button>
      </form>
      {% endif %}
    </div>
  </body>
</html>
